<div>
    <a class="btn btn-social btn-linkedin" href="/auth/linkedin">
        <i class="fa fa-linkedin"></i>
        Linkedin
    </a>
    <a class="btn btn-social btn-facebook" href="/auth/facebook">
        <i class="fa fa-facebook"></i>
        Facebook
    </a>
    <a class="btn btn-social btn-google-plus" href="/auth/google">
        <i class="fa fa-google-plus"></i>
        Google
    </a>
    <a class="btn btn-social btn-github" href="/auth/github">
        <i class="fa fa-github"></i>
        GitHub
    </a>
    <!--<a href="/auth/facebook">
        <img src="/img/icons/facebook.png">
    </a>
    <a href="/auth/github">
        <img src="/img/icons/github.png">
    </a>
    <a href="/auth/twitter">
        <img src="/img/icons/twitter.png">
    </a>
    <a href="/auth/google">
        <img src="/img/icons/google.png">
    </a>
    <a href="/auth/linkedin">
        <img src="/img/icons/linkedin.png">
    </a>-->
</div>
