<section data-ng-controller="ProductSelectorController">

<div class="thumbnail" >
 <label ng-click="isCollapsed1= !isCollapsed1" class="headerFontColor">Products<span class="glyphicon glyphicon-list-alt" style="margin-left: 160px"></span></label>
      <hr>
      <div id="collapse1" collapse="!isCollapsed1">
        <ul class="list-group">
			<li class="dropdown-submenu list-group-item" data-ng-repeat="platform in platforms" >
			 
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{platform.name}} </a>
			    
    		<ul class="dropdown-menu">
      			
      			<li class="list-group" data-ng-repeat="product in products">
            		<div class="checkbox" style="padding-left: 25px;">
                		<label>
                    		<a name="product" value="{{product.id}}" data-ng-click="productSelected(product)">{{product.name}} </a><hr>
                		</label>
            		</div>
        		</li>
           		
    		</ul>
    		<!-- <hr> -->
  			</li>
    </ul>
      </div>
</div>

<div class="thumbnail">
 <label ng-click="isCollapsed2= !isCollapsed2" class="headerFontColor">Practices<span class="glyphicon glyphicon-list-alt" style="margin-left: 156px"></span></label>
 <hr>
 <div id="collapse2" collapse="!isCollapsed2">
 	<ul class="list-group">
      <li data-ng-repeat="practice in practices" class="list-group-item">
                <a data-ng-click="">{{practice.name}}</a>
            </li>
     </ul>
 </div>
</div>

<div class="thumbnail">
 <label ng-click="isCollapsed3= !isCollapsed3" class="headerFontColor">People<span class="glyphicon glyphicon-list-alt" style="margin-left: 172px"></span></label>
      <hr>
      <div id="collapse3" collapse="!isCollapsed3">
          
      </div>
</div>

</section>