<section data-ng-controller="ArtifactsController" data-ng-init="findOne()" xmlns="http://www.w3.org/1999/html">
    <span>Name: {{artifact.name}}</span>
    <span>Version: {{artifact.version}}</span>
    <span>Url: {{artifact.url}}</span>
    <table>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Url</th>
        </tr>
        <tr ng-repeat="dependency in artifact.dependencies[0]">
            <td><span data-ng-href="{{dependency.url}}">{{dependency.name}}</span></td>
            <td><span data-ng-href="{{dependency.url}}">{{dependency.version}}</span></td>
            <td><a data-ng-href="{{dependency.url}}">{{dependency.url}}</a></td>
        </tr>
    </table>
</section>
