<!-- Angular JS -->
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<!-- Application Depedencies -->
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/highcharts/highcharts.js"></script>
<script src="lib/highcharts/highcharts-more.js"></script>
<script src="lib/highcharts/modules/exporting.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/routes.js"></script>

<!-- Home Module -->
<script type="text/javascript" src="modules/home/headerController.js"></script>

<!-- User Profile Module -->
<script type="text/javascript" src="modules/myProfile/myProfileController.js"></script>

<!-- Dashboard Module -->
<script type="text/javascript" src="modules/productSelector/productSelectorController.js"></script>
<script type="text/javascript" src="modules/dashboard/dashboardController.js"></script>

<!-- Product Module -->
<script type="text/javascript" src="modules/products/productListController.js"></script>
<script type="text/javascript" src="modules/products/productResource.js"></script>
<!-- Product Module -->

<!-- SignUp Module -->
<script type="text/javascript" src="views/user_roles_constant.js"></script>
<script type="text/javascript" src="views/auth_events_constant.js"></script>
<script type="text/javascript" src="views/AuthenticationService.js"></script>
<script type="text/javascript" src="views/signUpController.js"></script>
<script type="text/javascript" src="views/signInController.js"></script>
<!-- SignUp Module -->

<!-- Initialize the application -->
<script type="text/javascript" src="js/init.js"></script>

{% if (process.env.NODE_ENV == 'local') %}
<!-- Livereload script rendered -->
<script type="text/javascript" src="http://localhost:35730/livereload.js"></script>
{% endif %}
