<!DOCTYPE html>
<html lang="en" data-ng-csp="">

<head>
    <title>Sapience-UI</title>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
	<style>
		.spiderChart{height:900px;}
		
	</style>
</head>

<body>
	<div ng-app="sapienceUI">
		<div ng-controller="spiderChartController">
			<select ng-model="selectedApplication" 
					ng-options="application as application.name for application in applications">
			</select>
			<select ng-model="selectedMetricType" 
					ng-options="metricType as metricType.name for metricType in metricTypes">
			</select>
			<div class="charts">	
				<div class="spiderChart" items="spiderData"></div>
			</div>
		</div>
	</div>
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script type="text/javascript" src="js/sapience-ui.js"></script>
</html>
