<!DOCTYPE html>
<html lang="en" data-ng-csp="">

<head>
    <title>Sapience-UI</title>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
	<style>
		#spiderChart{height:800px;width:800px;float:left;}
		#lineChart{height:600px;width:1000px;float:right;}
		
	</style>
</head>

<body>
	<div ng-app="sapienceUI">
		<div ng-controller="spiderChartController">
			<label ng-repeat="application in applications">
				<input
					type="checkbox"
					name="selectedApplication[]"
					value="{{application.id}}"
					ng-click="applicationToggled(application)"
				> {{application.name}}
			</label>
			<div id="spiderChart"></div>	
			<div id="lineChart"></div>
		</div>
	</div>
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script type="text/javascript" src="js/sapience-ui.js"></script>
</html>
